.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.projectButton:hover {
    color:purple;
}

.projectButton:active {
    color:blue;
}

.projectButton:focus {   
    background-color: orange;
}