.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

input[type=number] {
    width:20%;
    background-color:yellow;
}

input[type=text] {
    width:20%;
    background-color:yellow;
}

#description {
    background-color:purple;
}

.projectButton:hover {
    color:purple;
}

.projectButton:active {
    color:blue;
}

.projectButton[value="selected"] {   
    background-color: orange;
}

